#[submodule "themes/icarusa"]
#	path = themes/icarusa
#	url = https://github.com/ppoffice/hexo-theme-icarus.git
[submodule "themes/icarusa"]
	path = themes/icarusa
	url = git@github.com:zxw7606/icarusa.git
